.login-overlay {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    bottom: 50px;
    left: 20px;
}

.lgbtn {
    position: relative;
    overflow: hidden;
    background: #42455a;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    color: #e0ffff;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    justify-content: center;
}
  
.lgbtn:active {
    transform: scale(0.95);
}

.lgbtn::before {
    content: '';
    position: absolute;
    inset: -1px 30px;
    background: #00c2cb;
    transition: 500ms;
    animation: rotate 4s linear infinite;
    z-index: -1;
}
  
.lgbtn:hover::before {
    inset: -1px;
}
  
.lgbtn::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #22232e;
    z-index: -1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
